.#{$prefix}arrow {
  display: inline-block;
  position: relative;
  @include transition;

  .line {
    position: absolute;
    top: 8.5px;
    left: -6px;
    border-bottom: 2px solid #fff;
    width: 28px;
  }

  .chevron {
    border: solid #fff;
    border-width: 2px 2px 0 0;
    width: 20px;
    height: 20px;
    @include transform("rotate(45deg)");
  }
}
