.grid-view {
  .interior-navbar {
    .row {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }

  .interior-showcase-photogrid {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .photo {
        padding: 10px;
      }
    }
  }

  .interior-designers-list {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .interior-designer-card {
        padding: 10px;
      }
    }
  }

  .packages-list.row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .package-list {
      padding: 10px;
    }
  }

  @media screen and (max-width: $break_point_mobile) {
    .interior-showcase-photogrid,
    .interior-designers-list {
      .row {
        grid-template-columns: 2fr;
      }
    }

    .packages-list.row {
      grid-template-columns: 2fr;
    }
  }
}
