@import "./helpers/helpers";

@import "./base/base";

@import "./components/component";

@import "./layout/layout";

@import "./pages/pages";

@import "./responsive/responsive";

@import "./utils/utilities";

.interior-scroll-to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  right: 40px;
  bottom: 40px;
  height: 64px;
  width: 64px;
  padding: 24px 15px;
  background-color: $color__primary;

  .scroll-to-top-icon {
    border: solid #000;
    border-width: 0px 8px 8px 0px;
    width: 32px;
    height: 32px;
    transform: rotate(-135deg);
  }
}
