.container {
  max-width: 100%;
}


.interior-showcase, .interior-services, .interior-designers, .interior-packages, .interior-contact {
  margin: 80px 60px 120px 60px;

  @include breakpoints("tablet") {
    margin: 75px 0 !important;
    padding: 0 16px;
  }
}