.int-main {
  width: 100%;
  margin-left: 300px;

  .row {
    margin: 120px 60px;
  }

  .int-main-heading {
    font-size: 64px;
  }

  h2 {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    color: $color__primary;
    margin-bottom: 70px;

    &::after {
      @include header-style;
    }
  }
}

.int-showcase {
  margin-bottom: 100px;

  .int-showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 10px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.int-services {
  margin-bottom: 100px;

  p {
    margin-bottom: 35px;
  }
}

.int-designers {
  .int-designers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    img {
      max-width: 100%;
    }

    .card-content {
      background-color: #f1f1f1;
      padding: 0 16px;

      h3 {
        font-size: 24px;
        margin: 10px 0;
      }

      span,
      p {
        margin: 16px 0;
      }

      span {
        color: #9b9b9b;
      }
    }
  }
}

.int-packages {
  .packages-list {
    display: flex;
  }

  .package-list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
