/* Interior Mobile Sidebar */
.#{$prefix}mob-navbar {
  display: none;

  @include breakpoints("tablet") {
    display: block;
  }

  .container {
    position: fixed;
    width: 100%;
    background-color: $color__primary;
    color: #fff;
    top: 0;
    padding: 8px 0;
    z-index: 5;

    @include breakpoints("tablet") {
      margin: 0 !important;
    }

    .row {
      align-items: center;

      .#{$prefix}sidebar-toggle {
        padding: 8px 16px;
        margin: 0 16px;
      }
    }
  }
}

.#{$prefix}mob-sidebar {
  display: none;
  position: fixed;
  top: 0;
  font-weight: 500;
  color: #fff;
  background-color: $color__primary;
  width: 300px;
  height: 100%;
  overflow: auto;
  z-index: 10;

  @include breakpoints("tablet") {
    &.open {
      display: block;
    }
  }

  .container {
    padding: 8px 16px;
    margin: 0;

    @include breakpoints("tablet") {
      margin: 0 !important;
    }
  }

  .#{$prefix}sidebar-close {
    display: none;
    justify-content: center;

    @include breakpoints("tablet") {
      display: flex;
    }

    span {
      font-size: 22px;
      padding: 8px 16px;
    }
  }

  ul {
    list-style-type: none;

    li {
      font-size: 18px;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
      }

      &:hover {
        cursor: pointer;
        color: #000;
        background: #fff;
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
