.#{$prefix}navbar {
  display: none;
  padding: 32px;
  width: 100%;
  color: #fff;
  background-color: $color__primary;

  @include breakpoints("lg") {
    display: block;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  ul {
    margin-left: 20px;

    li {
      padding: 0 10px;

      a {
        color: #fff;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
