.#{$prefix}navbar {
  width: 100%;
  color: #fff;
  background-color: $color__primary;

  .container {
    margin-top: 0;
    padding: 32px;

    .row {
      align-items: center;
      justify-content: space-between;

      ul {
        list-style-type: none;
        margin-left: 20px;

        li {
          padding: 0 10px;

          a {
            text-decoration: none;
            color: #fff;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
