/* Interior Sidebar */
.#{$prefix}sidebar {
  position: fixed;
  font-weight: 500;
  color: #fff;
  background-color: $color__primary;
  top: 0;
  width: 60px;
  height: 100%;
  overflow: hidden;
  z-index: 6;
  transition: all 0.4s;

  @media screen and (max-width: $break_point_tablet) {
    display: none;
  }

  .container {
    padding: 0 8px;
    margin: 0;

    @media screen and (max-width: $break_point_tablet) {
      margin: 0 !important;
    }
  }

  .#{$prefix}sidebar-close {
    display: none;
    justify-content: center;

    @media screen and (max-width: $break_point_tablet) {
      display: flex;
    }

    span {
      font-size: 22px;
      padding: 8px 16px;
    }
  }

  .#{$prefix}sidebar-header {
    visibility: hidden;
    font-size: 32px;
    max-width: 30px;
    margin: 100px 10px 80px 10px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 24px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        padding: 10px;

        span {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
        color: #000;
        background: #fff;
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
      }
    }
  }

  &.sidebar-open {
    width: 300px;
    transition: all 0.4s;
    overflow: auto;

    .container {
      margin: 0;
      padding: 8px 16px;
    }

    .#{$prefix}sidebar-header {
      visibility: visible;
    }

    ul {
      li {
        a {
          span {
            display: block;
          }
        }
      }
    }
  }
}

.open-sidebar {
  @media screen and (max-width: $break_point_tablet) {
    display: none;
  }
  
    margin: 20px 60px;
}

.close-sidebar {
  .#{$prefix}arrow {
    transition: all 0.4s;
    transform: rotate(180deg);
  }
}

.sidebar-toggle {
  display: inline-flex;
  background-color: $color__primary;
  padding: 20px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    box-shadow: inset 60px 0 0 0 #000;
    transition: all 0.4s ease-in-out;
  }
}
