/* Interior Sidebar */
.interior-navbar {
  display: none;
}

.interior-sidebar {
  position: fixed;
  font-weight: 700;
  color: #fff;
  background-color: $color__primary;
  width: 300px;
  height: 100%;
  overflow: auto;

  .interior-sidebar-header {
    font-size: 24px;
    max-width: 30px;
    margin: 120px 0 100px 30px;
  }

  ul {
    list-style-type: none;
    padding: 0 20px;

    li {
      font-size: 18px;
      padding: 10px 0;

      a {
        text-decoration: none;
        color: inherit;
        padding: 10px;
      }

      &:hover {
        cursor: pointer;
        color: #000;
        background: #fff;
      }
    }
  }
}
