/* Interior Sidebar */
.#{$prefix}sidebar {
  display: none;

  @include breakpoints("lg") {
    display: block;
    position: fixed;
    font-weight: 500;
    color: #fff;
    background-color: $color__primary;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 6;
    @include transition("all 0.4s");
  }

  .#{$prefix}sidebar-close {
    display: none;
    justify-content: center;

    @include breakpoints("lg") {
      display: flex;
    }

    span {
      font-size: 22px;
      padding: 8px 16px;
    }
  }

  .#{$prefix}sidebar-header {
    visibility: hidden;
    font-size: 32px;
    max-width: 30px;
    margin: 100px 10px 80px 10px;
    @include animation(
      "fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both"
    );
  }

  ul {
    li {
      a {
        @include row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        max-width: 260px;
        overflow: hidden;
        word-break: break-all;

        span {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
        color: #000;
        background: #fff;
        @include transform("scale(1.1)");
        @include transition("all 0.4s ease-in-out");
      }
    }
  }

  &.sidebar-open {
    width: 300px;
    @include transition("all 0.4s");
    overflow: auto;
    margin: 0;
    padding: 8px 16px;

    .#{$prefix}sidebar-header {
      visibility: visible;
    }

    ul {
      li {
        a {
          justify-content: unset;
          span {
            display: block;
          }
        }
      }
    }
  }
}

.open-sidebar {
  display: none;

  @include breakpoints("lg") {
    display: block;
  }

  margin-top: 20px;
}

.close-sidebar {
  .#{$prefix}arrow {
    @include transition("all 0.4s");
    transform: rotate(180deg);
  }
}

.sidebar-toggle {
  display: inline-flex;
  background-color: $color__primary;
  padding: 20px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    box-shadow: inset 60px 0 0 0 #000;
    transition: all 0.4s ease-in-out;
  }
}
