@import "./sections/showcase";
@import "./sections/designers";
@import "./sections/packages";
@import "./sections/contact";

.#{$prefix}main {
  // margin: 0;
  padding: 0 16px 60px;

  @include breakpoints("lg") {
    max-width: 100%;
    margin-left: 60px;
    padding: 0 120px 80px;
    @include transition;
  }

  &.sidebar-open {
    margin-left: 300px;
    @include transition("all 0.2s ease-in-out");
  }
}

.#{$prefix}container-center {
  .#{$prefix}main {
    // margin: auto;
    padding: 0 16px 60px;

    @include breakpoints("lg") {
      max-width: 1140px;
      // margin: auto;
      padding: 0 0 80px;
    }
  }
}

.#{$prefix}section-description {
  margin-top: 16px;
}
