/* FlexBox classes */
$screens: sm, md, lg;
$cols: 4, 6;

.row {
  @include row;
}

.col {
  padding: 0 10px;
  flex: 0 0 100%;
  max-width: 100%;
}

@each $screen in $screens {
  @each $col in $cols {
    .col-#{$screen}-#{$col} {
      @include breakpoints($screen) {
        flex: 0 0 percentage($col/12);
        width: percentage($col/12);
      }
    }
  }
}
