/* FlexBox classes */
.row {
  @include row;
}

.col {
  padding: 0 10px;
  flex: 0 0 100%;
  max-width: 100%;
}

@include breakpoints("md") {
  @for $i from 1 through 12 {
    $width: percentage($i/12);

    .col-lg-#{$i} {
      flex: 0 0 $width;
      width: $width;
    }
  }
}
