/* Float classes */
.f-row {
  margin: 0 -10px;

  @extend %clearfix;

  .f-col {
    padding: 0 10px;
    float: left;
    width: 100%;
  }

  @include breakpoints("md") {
    @for $i from 1 through 12 {
      $width: percentage($i/12);
  
      .f-col-#{$i} {
        width: $width;
      }
    }
  }
}
