/* Float classes */
$screens: sm, md, lg;
$cols: 4, 6;

.f-row {
  margin: 0 -10px;

  @extend %clearfix;

  .f-col {
    padding: 0 10px;
    float: left;
    width: 100%;
  }

  @each $screen in $screens {
    @each $col in $cols {
      .f-col-#{$screen}-#{$col} {
        @include breakpoints($screen) {
          width: percentage($col/12);
        }
      }
    }
  }
}

// .f-col-3 {
//   width: 25%;
// }
// .f-col-6 {
//   width: 50%;
// }

// .f-col-9 {
//   width: 75%;
// }
// .f-col-12 {
//   width: 100%;
// }

// .f-col-xs-6 {
//   @include breakpoints(xs) {
//     width: 50%;
//   }
// }
// .f-col-sm-9 {
//   @include breakpoints(sm) {
//     width: 75%;
//   }
// }
// .f-col-md-9 {
//   @include breakpoints(md) {
//     width: 75%;
//   }
// }
