/* Float classes */
.f-row {
  margin: 0 -10px;

  @extend %clearfix;

  .f-col {
    padding: 0 10px;
    float: left;
    width: 100%;
  }

  .f-col-4 {
    @include breakpoints("desktop") {
      width: 33.33%;
    }
  }

  .f-col-6 {
    @include breakpoints("desktop") {
      width: 50%;
    }
  }
}
