/* Grid layouts */
$screens: xs, sm, md, lg;
$cols: 2, 3;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

@each $screen in $screens {
  @each $col in $cols {
    .grid-cols-#{$screen}-#{$col} {
      grid-template-columns: repeat($col, 1fr);
    }
  }
}

// @include breakpoints("md") {
//   @for $i from 1 through 12 {
//     .grid-cols-#{$i} {
//       grid-template-columns: repeat($i, 1fr);
//     }
//   }
// }
