/* Container classes */
.#{$prefix}container {
  max-width: 100%;
}

.#{$prefix}section-margin-top {
  margin-top: 60px;

  @include breakpoints("md") {
    margin-top: 100px;
  }
}

/* Grid classes */
$screens: sm, md, lg;
$cols: 2, 3;

.#{$prefix}grid {
  display: grid;
  grid-template-columns: 1fr;
}

@each $col in $cols {
  .#{$prefix}grid-cols-#{$col} {
    grid-template-columns: repeat($col, 1fr);
  }
}

@each $screen in $screens {
  @each $col in $cols {
    .#{$prefix}grid-cols-#{$screen}-#{$col} {
      @include breakpoints($screen) {
        grid-template-columns: repeat($col, 1fr);
      }
    }
  }
}

/* FlexBox classes */
$screens: sm, md, lg;
$cols: 4, 6;
$direction: row, column, row-reverse, column-reverse;

.#{$prefix}row {
  @extend %flex;
}

.#{$prefix}col {
  @include flex-width(100%);
}

@each $col in $cols {
  .#{$prefix}col-#{$col} {
    flex: 0 0 percentage($col/12);
    width: percentage($col/12);
  }
}

@each $screen in $screens {
  @each $col in $cols {
    .#{$prefix}col-#{$screen}-#{$col} {
      @include breakpoints($screen) {
        flex: 0 0 percentage($col/12);
        width: percentage($col/12);
      }
    }
  }
}

@each $dir in $direction {
  #{$prefix}col-#{$dir} {
    flex-direction: $dir;
  }
}

/* Float classes */
$screens: sm, md, lg;
$cols: 4, 6;

.#{$prefix}f-row {
  margin: 0 -10px;
  @extend %clearfix;
}

.#{$prefix}f-col {
  float: left;
  width: 100%;
}

@each $col in $cols {
  .#{$prefix}f-col-#{$col} {
    width: percentage($col/12);
  }
}

@each $screen in $screens {
  @each $col in $cols {
    .#{$prefix}f-col-#{$screen}-#{$col} {
      @include breakpoints($screen) {
        width: percentage($col/12);
      }
    }
  }
}
