@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

@mixin btnHover($dir, $color, $scale: 1, $x: 0, $y: 0) {
  &:hover {
    cursor: pointer;
    box-shadow: $dir $x $y 0 0 $color;
    color: #fff;
    transform: scale($scale);
    transition: all 0.4s ease-in-out;
  }
}

@mixin animate($animation) {
  webkit-animation: #{$animation};
  animation: #{$animation};
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -ms-transition: #{$transition};
  transition: #{$transition};
}

@mixin animate($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
