@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

@mixin flex-width($width) {
  flex: 0 0 $width;
  max-width: $width;
}

@mixin btnHover($box-shadow, $transform: none) {
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow;
    color: #fff;
    transform: $transform;
    transition: all 0.4s ease-in-out;
  }
}

@mixin transform($transform) {
  -webkit-transform: #{$transform};
  -moz-transform: #{$transform};
  -ms-transform: #{$transform};
  transform: #{$transform};
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -ms-transition: #{$transition};
  transition: #{$transition};
}

@mixin animate($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
