%flex {
  display: flex;
  flex-wrap: wrap;
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: block;
    clear: left;
  }
}

%subheader-design {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  color: $color__primary;
  margin-bottom: 70px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $color__primary;
    border-radius: 4px;
    height: 10px;
    width: 60px;
    bottom: -40px;
  }
}
