// Primary
$color__primary: #f44336;

// Base Typography
$base_typography: "Poppins", sans-serif;

// Prefix
$prefix: interior-;

//breakpoints
$break_point_tablet: 992px;
$break_point_mobile: 600px;
