// Primary
$color__primary: #f44336;

// Base Typography
$base_typography: "Poppins", sans-serif;

// Typography sizes
$font-sizes :("xs":12px, "sm": 14px, "reg":16px, "md":18px, "lg": 20px, "xl" :24px, "xxl": 64px);

@each $name, $size in $font-sizes {
    .it-fs-#{$name} {
        font-size: #{$size};
    }
}

// Prefix
$prefix: interior-;

//breakpoints
$break_point_sm: 576px;
$break_point_md: 768px;
$break_point_lg: 992px;
$break_point_xl: 1200px;
$break_point_xxl: 1400px;

$brkpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
);

