.#{$prefix}cross {
  position: relative;
  display: flex;
  width: 30px;
  height: 40px;

  .#{$prefix}line-one {
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #000;
    transform: rotate(45deg);
    left: 50%;
  }

  .#{$prefix}line-two {
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    left: 50%;
  }
}
