.#{$prefix}hamburger-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: $color__primary;
}

.#{$prefix}hamburger {
  position: relative;
  width: 26px;
  height: 18px;

  .#{$prefix}line {
    position: absolute;
    border-top: 2px solid #000;
    border-width: 2px;
  }

  .#{$prefix}line-one {
    width: 26px;
    height: 20px;
  }

  .#{$prefix}line-two {
    width: 20px;
    height: 25px;
    top: 50%;
  }

  .#{$prefix}line-three {
    width: 14px;
    height: 25px;
    top: 98%;
  }
}
