/* FlexBox classes */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 0 10px;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-4 {
  @media screen and (min-width: 1024px) {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.col-lg-6 {
  @media screen and (min-width: 1024px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
