.id-row, .id-mob-sidebar ul li a, .id-sidebar ul li a {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.id-f-row::before, .clearfix::before, .id-f-row::after, .clearfix::after {
  content: "";
  display: block;
  clear: left; }

/* Container classes */
.id-container {
  max-width: 100%; }

.id-section-margin-top {
  margin-top: 60px; }
  @media screen and (min-width: 768px) {
    .id-section-margin-top {
      margin-top: 100px; } }

.id-f-row {
  margin: 0 -10px; }

.id-col {
  flex: 0 0 100%;
  max-width: 100%; }

.id-f-col {
  float: left;
  width: 100%; }

.id-grid {
  display: grid;
  grid-template-columns: 1fr; }

.id-grid-cols-2 {
  grid-template-columns: repeat(2, 1fr); }

.id-col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.id-f-col-2 {
  width: 16.6666666667%; }

.id-grid-cols-3 {
  grid-template-columns: repeat(3, 1fr); }

.id-col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.id-f-col-3 {
  width: 25%; }

.id-grid-cols-4 {
  grid-template-columns: repeat(4, 1fr); }

.id-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.id-f-col-4 {
  width: 33.3333333333%; }

.id-grid-cols-6 {
  grid-template-columns: repeat(6, 1fr); }

.id-col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.id-f-col-6 {
  width: 50%; }

@media screen and (min-width: 576px) {
  .id-grid-cols-sm-2 {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 576px) {
  .id-col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 576px) {
  .id-f-col-sm-2 {
    width: 16.6666666667%; } }

@media screen and (min-width: 576px) {
  .id-grid-cols-sm-3 {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 576px) {
  .id-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 576px) {
  .id-f-col-sm-3 {
    width: 25%; } }

@media screen and (min-width: 576px) {
  .id-grid-cols-sm-4 {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 576px) {
  .id-col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 576px) {
  .id-f-col-sm-4 {
    width: 33.3333333333%; } }

@media screen and (min-width: 576px) {
  .id-grid-cols-sm-6 {
    grid-template-columns: repeat(6, 1fr); } }

@media screen and (min-width: 576px) {
  .id-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 576px) {
  .id-f-col-sm-6 {
    width: 50%; } }

@media screen and (min-width: 768px) {
  .id-grid-cols-md-2 {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 768px) {
  .id-col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 768px) {
  .id-f-col-md-2 {
    width: 16.6666666667%; } }

@media screen and (min-width: 768px) {
  .id-grid-cols-md-3 {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 768px) {
  .id-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 768px) {
  .id-f-col-md-3 {
    width: 25%; } }

@media screen and (min-width: 768px) {
  .id-grid-cols-md-4 {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 768px) {
  .id-col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 768px) {
  .id-f-col-md-4 {
    width: 33.3333333333%; } }

@media screen and (min-width: 768px) {
  .id-grid-cols-md-6 {
    grid-template-columns: repeat(6, 1fr); } }

@media screen and (min-width: 768px) {
  .id-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 768px) {
  .id-f-col-md-6 {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .id-grid-cols-lg-2 {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 992px) {
  .id-col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 992px) {
  .id-f-col-lg-2 {
    width: 16.6666666667%; } }

@media screen and (min-width: 992px) {
  .id-grid-cols-lg-3 {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 992px) {
  .id-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 992px) {
  .id-f-col-lg-3 {
    width: 25%; } }

@media screen and (min-width: 992px) {
  .id-grid-cols-lg-4 {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 992px) {
  .id-col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 992px) {
  .id-f-col-lg-4 {
    width: 33.3333333333%; } }

@media screen and (min-width: 992px) {
  .id-grid-cols-lg-6 {
    grid-template-columns: repeat(6, 1fr); } }

@media screen and (min-width: 992px) {
  .id-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 992px) {
  .id-f-col-lg-6 {
    width: 50%; } }

@-webkit-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-moz-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-ms-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-moz-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-ms-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@-moz-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@-ms-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
:root {
  font-size: 16px;
  font-weight: 400;
  color: #000; }

body {
  font-family: "Poppins", sans-serif; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

button {
  font-size: inherit;
  font-family: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #f44336;
  box-shadow: 0 -100vh 0 100vh #f88e86, 0 0 15px 5px black; }

.id-fs-xs {
  font-size: 12px; }

.id-fs-sm {
  font-size: 14px; }

.id-fs-reg {
  font-size: 16px; }

.id-fs-md {
  font-size: 18px; }

.id-fs-lg {
  font-size: 20px; }

.id-fs-xl {
  font-size: 24px; }

.id-fs-xxl {
  font-size: 64px; }

.id-btn-primary {
  display: inline-block;
  color: #000;
  background-color: #fff;
  padding: 12px 24px;
  border: unset; }
  .id-btn-primary.id-btn-bg-primary {
    color: #fff;
    background-color: #f44336; }
  .id-btn-primary.id-btn-fluid {
    width: 100%; }
    .id-btn-primary.id-btn-fluid:hover {
      cursor: pointer;
      box-shadow: inset 2000px 0 0 0 #000;
      color: #fff;
      transform: none;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s; }
  .id-btn-primary:hover {
    cursor: pointer;
    box-shadow: inset 2000px 0 0 0 #000;
    color: #fff;
    transform: scale(1.2);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }

.id-arrow {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s; }
  .id-arrow .id-arrow-line {
    position: absolute;
    top: 8.5px;
    left: -6px;
    border-bottom: 2px solid #fff;
    width: 28px; }
  .id-arrow .id-arrow-chevron {
    border: solid #fff;
    border-width: 2px 2px 0 0;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.id-cross {
  position: relative;
  width: 40px;
  height: 40px; }
  .id-cross .id-line-one {
    position: absolute;
    border-left: 2px solid #000;
    border-width: 2px;
    width: 25px;
    height: 25px;
    transform: rotate(-40deg);
    left: 22px; }
  .id-cross .id-line-two {
    position: absolute;
    border-right: 2px solid #000;
    border-width: 2px;
    width: 25px;
    height: 25px;
    transform: rotate(40deg);
    left: 4px; }

.id-hamburger-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f44336; }

.id-hamburger {
  position: relative;
  width: 26px;
  height: 25px; }
  .id-hamburger .id-line-one {
    position: absolute;
    border-top: 2px solid #000;
    border-width: 2px;
    width: 26px;
    height: 20px; }
  .id-hamburger .id-line-two {
    position: absolute;
    border-top: 2px solid #000;
    border-width: 2px;
    width: 20px;
    height: 25px;
    top: 6px; }
  .id-hamburger .id-line-three {
    position: absolute;
    border-top: 2px solid #000;
    border-width: 2px;
    width: 14px;
    height: 25px;
    top: 12px; }

input,
textarea {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  field-sizing: content; }
  input:focus-visible,
  textarea:focus-visible {
    outline: 3px solid #f44336;
    filter: opacity(0.7);
    padding: 4px; }

.id-loader-container {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.id-loader {
  display: flex;
  justify-content: space-between;
  width: 80px; }
  .id-loader .id-loader-animation {
    width: 16px;
    height: 16px;
    background-color: #f44336;
    border-radius: 50%;
    -webkit-animation: grow-shrink 1.5s infinite;;
    -moz-animation: grow-shrink 1.5s infinite;;
    -ms-animation: grow-shrink 1.5s infinite;;
    animation: grow-shrink 1.5s infinite;; }
    .id-loader .id-loader-animation:nth-child(1) {
      animation-delay: 0s; }
    .id-loader .id-loader-animation:nth-child(2) {
      animation-delay: 0.3s; }
    .id-loader .id-loader-animation:nth-child(3) {
      animation-delay: 0.6s; }

.id-overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6; }
  .id-overlay.open {
    display: block; }
  .id-overlay.id-overlay-main {
    display: block;
    -webkit-animation: slide-down 1s forwards;
    -moz-animation: slide-down 1s forwards;
    -ms-animation: slide-down 1s forwards;
    animation: slide-down 1s forwards;
    background: #000;
    z-index: 100; }

.id-scroll-to-top {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 40px;
  bottom: 40px;
  height: 64px;
  width: 64px;
  background-color: #f44336; }
  .id-scroll-to-top:hover {
    box-shadow: inset 0 -68px 0 0 #000;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }

.id-chevron {
  position: relative;
  top: 6px;
  border: solid #fff;
  border-width: 0px 2px 2px 0px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.id-section-title {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  color: #f44336;
  padding-bottom: 30px;
  margin-bottom: 50px; }
  .id-section-title::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #f44336;
    border-radius: 4px;
    height: 10px;
    width: 60px;
    bottom: 0; }

.id-footer {
  padding: 48px 58px;
  text-align: right;
  background-color: #f1f1f1; }
  .id-footer a {
    color: #000; }
    .id-footer a:hover {
      opacity: 0.6; }

/* Interior Mobile Sidebar */
.id-mob-navbar {
  display: block;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #f44336;
  color: #fff;
  top: 0;
  padding: 8px 0;
  z-index: 5; }
  @media screen and (min-width: 992px) {
    .id-mob-navbar {
      display: none; } }
  .id-mob-navbar .id-sidebar-toggle {
    padding: 8px 16px;
    margin: 0 16px; }
  .id-mob-navbar .id-branding {
    align-self: center; }

.id-mob-sidebar {
  display: none;
  position: fixed;
  top: 0;
  font-weight: 500;
  color: #fff;
  background-color: #f44336;
  width: 300px;
  height: 100%;
  overflow: auto;
  z-index: 10;
  padding: 8px 16px;
  margin: 0; }
  .id-mob-sidebar ul li {
    font-size: 18px; }
    .id-mob-sidebar ul li a {
      align-items: center;
      gap: 5px;
      color: inherit;
      padding: 10px; }
  .id-mob-sidebar.open {
    display: block; }
    .id-mob-sidebar.open .id-sidebar-close {
      display: flex;
      justify-content: center; }
      .id-mob-sidebar.open .id-sidebar-close span {
        font-size: 22px;
        padding: 8px 16px; }

.id-navbar {
  display: none;
  padding: 32px;
  width: 100%;
  color: #fff;
  background-color: #f44336; }
  @media screen and (min-width: 992px) {
    .id-navbar {
      display: block; } }
  .id-navbar .id-nav {
    align-items: center;
    justify-content: space-between; }
  .id-navbar ul {
    margin-left: 20px; }
    .id-navbar ul li {
      padding: 0 10px; }
      .id-navbar ul li a {
        color: inherit; }
      .id-navbar ul li:hover {
        color: #000;
        background: #fff;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s; }

/* Interior Sidebar */
.id-sidebar {
  display: none; }
  .id-sidebar ul li a {
    justify-content: center;
    color: inherit;
    padding: 10px; }
    .id-sidebar ul li a span {
      display: none; }
  .id-sidebar ul li:hover {
    color: #000;
    background: #fff;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }
  @media screen and (min-width: 992px) {
    .id-sidebar {
      display: block;
      position: fixed;
      color: #fff;
      background-color: #f44336;
      top: 0;
      width: 60px;
      height: 100%;
      z-index: 6; } }
  .id-sidebar.sidebar-open {
    display: block;
    font-weight: 500;
    width: 300px;
    overflow: auto;
    margin: 0;
    padding: 8px 16px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }
    .id-sidebar.sidebar-open .id-sidebar-header {
      visibility: visible; }
    .id-sidebar.sidebar-open ul li a {
      align-items: center;
      justify-content: unset;
      max-width: 260px;
      overflow: hidden;
      word-break: break-all;
      gap: 10px; }
      .id-sidebar.sidebar-open ul li a span {
        display: block; }
  .id-sidebar .id-sidebar-header {
    visibility: hidden;
    font-size: 32px;
    max-width: 30px;
    margin: 100px 10px 80px 10px;
    -webkit-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    -moz-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    -ms-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .id-sidebar .id-sidebar-menu .primary-menu li {
    position: relative; }
    .id-sidebar .id-sidebar-menu .primary-menu li:hover .id-tool-tip {
      display: block; }
  .id-sidebar .id-sidebar-menu .id-tool-tip {
    display: none;
    font-size: 12px;
    position: absolute;
    text-align: center;
    background-color: #000;
    color: #fff;
    left: 110%;
    top: 5px;
    width: 80px;
    padding: 10px;
    border-radius: 2px; }
    .id-sidebar .id-sidebar-menu .id-tool-tip::after {
      content: "";
      position: absolute;
      top: 36%;
      left: 0;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black black transparent transparent;
      transform: rotate(225deg); }

.id-desktop-sidebar-toggle {
  display: none;
  margin-top: 20px; }
  @media screen and (min-width: 992px) {
    .id-desktop-sidebar-toggle {
      display: block; } }
  .id-desktop-sidebar-toggle .sidebar-close .id-arrow {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    transform: rotate(180deg); }
  .id-desktop-sidebar-toggle .id-toggle-icon {
    display: inline-flex;
    background-color: #f44336;
    padding: 20px;
    border-radius: 50%; }
    .id-desktop-sidebar-toggle .id-toggle-icon:hover {
      cursor: pointer;
      box-shadow: inset 60px 0 0 0 #000;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s; }

.id-showcase .id-heading {
  font-weight: 400;
  -webkit-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -ms-animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fade-text 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
.id-showcase .id-showcase-photogrid .id-photo {
  padding: 20px 10px 0; }
.id-showcase .id-showcase-photogrid .id-photo:nth-child(2) {
  order: 4; }
.id-showcase .id-showcase-photogrid .id-photo:nth-child(4) {
  order: 5; }
.id-showcase .id-showcase-photogrid .id-photo:nth-child(6) {
  order: 6; }
@media screen and (min-width: 576px) {
  .id-showcase .id-showcase-photogrid .id-photo {
    order: unset !important; } }
.id-showcase .id-showcase-photogrid .id-photo:nth-child(1) img, .id-showcase .id-showcase-photogrid .id-photo:nth-child(2) img {
  aspect-ratio: 1/0.85; }
.id-showcase .id-showcase-photogrid .id-photo a {
  display: block;
  overflow: hidden; }
.id-showcase .id-showcase-photogrid img {
  max-width: 100%;
  aspect-ratio: 1/0.6;
  opacity: 0.8;
  filter: grayscale(100%); }
  .id-showcase .id-showcase-photogrid img:hover {
    opacity: 1;
    filter: grayscale(0);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }

.id-designers .id-designers-list .id-designer-card {
  margin-top: 10px;
  padding: 0 10px; }
.id-designers .id-designers-list img {
  width: 100%;
  max-width: 100%;
  filter: grayscale(75%); }
.id-designers .id-designers-list .id-card-content {
  background-color: #f1f1f1;
  padding: 0 16px; }
  .id-designers .id-designers-list .id-card-content h3 {
    padding: 10px 0; }
  .id-designers .id-designers-list .id-card-content span,
  .id-designers .id-designers-list .id-card-content p {
    padding: 16px 0; }
  .id-designers .id-designers-list .id-card-content span {
    color: #9b9b9b; }

.id-packages .id-package-list {
  margin-top: 10px;
  padding: 0 10px; }
.id-packages .id-packages-list {
  margin-top: 16px; }
  .id-packages .id-packages-list ul {
    text-align: center;
    width: 100%; }
    .id-packages .id-packages-list ul li {
      padding: 20px 0;
      background-color: #f1f1f1;
      border-bottom: 1px solid #ddd; }
      .id-packages .id-packages-list ul li:first-child {
        color: #fff;
        background-color: #616161;
        padding: 40px 0; }
        .id-packages .id-packages-list ul li:first-child.id-pro {
          background-color: #f44336; }
      .id-packages .id-packages-list ul li h3 {
        font-size: 30px;
        font-weight: normal;
        margin: 10px 0; }
      .id-packages .id-packages-list ul li span {
        color: #818181; }
      .id-packages .id-packages-list ul li:last-child {
        border-bottom: none; }

.id-contact .id-contact-form div,
.id-contact .id-contact-form button {
  margin-top: 16px; }

.id-main {
  padding: 0 16px 60px; }
  @media screen and (min-width: 992px) {
    .id-main {
      max-width: 100%;
      margin-left: 60px;
      padding: 0 120px 80px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s; } }
  .id-main.sidebar-open {
    margin-left: 300px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.id-container-center .id-main {
  padding: 0 16px 60px; }
  @media screen and (min-width: 992px) {
    .id-container-center .id-main {
      max-width: 1140px;
      padding: 0 0 80px; } }

.id-section-description {
  margin-top: 16px; }

/* Margin Classes */
.id-m-auto {
  margin: auto; }

.id-mt-1 {
  margin-top: 5px; }

.id-mt-2 {
  margin-top: 10px; }

.id-mt-3 {
  margin-top: 15px; }

.id-mt-4 {
  margin-top: 20px; }

.id-mt-5 {
  margin-top: 25px; }

.id-mt-6 {
  margin-top: 30px; }

.id-mt-7 {
  margin-top: 35px; }

.id-mt-8 {
  margin-top: 40px; }

.id-mt-9 {
  margin-top: 45px; }

.id-mt-10 {
  margin-top: 50px; }

.id-mt-11 {
  margin-top: 55px; }

.id-mt-12 {
  margin-top: 60px; }

.id-mt-13 {
  margin-top: 65px; }

.id-mt-14 {
  margin-top: 70px; }

.id-mt-15 {
  margin-top: 75px; }

.id-mt-16 {
  margin-top: 80px; }

.id-mt-17 {
  margin-top: 85px; }

.id-mb-1 {
  margin-bottom: 5px; }

.id-mb-2 {
  margin-bottom: 10px; }

.id-mb-3 {
  margin-bottom: 15px; }

.id-mb-4 {
  margin-bottom: 20px; }

.id-mb-5 {
  margin-bottom: 25px; }

.id-mb-6 {
  margin-bottom: 30px; }

.id-mb-7 {
  margin-bottom: 35px; }

.id-mb-8 {
  margin-bottom: 40px; }

.id-mb-9 {
  margin-bottom: 45px; }

.id-mb-10 {
  margin-bottom: 50px; }

.id-mb-11 {
  margin-bottom: 55px; }

.id-mb-12 {
  margin-bottom: 60px; }

.id-mb-13 {
  margin-bottom: 65px; }

.id-mb-14 {
  margin-bottom: 70px; }

.id-mb-15 {
  margin-bottom: 75px; }

.id-mb-16 {
  margin-bottom: 80px; }

.id-mb-17 {
  margin-bottom: 85px; }

.id-mr-1 {
  margin-right: 5px; }

.id-mr-2 {
  margin-right: 10px; }

.id-mr-3 {
  margin-right: 15px; }

.id-mr-4 {
  margin-right: 20px; }

.id-mr-5 {
  margin-right: 25px; }

.id-mr-6 {
  margin-right: 30px; }

.id-mr-7 {
  margin-right: 35px; }

.id-mr-8 {
  margin-right: 40px; }

.id-mr-9 {
  margin-right: 45px; }

.id-mr-10 {
  margin-right: 50px; }

.id-mr-11 {
  margin-right: 55px; }

.id-mr-12 {
  margin-right: 60px; }

.id-mr-13 {
  margin-right: 65px; }

.id-mr-14 {
  margin-right: 70px; }

.id-mr-15 {
  margin-right: 75px; }

.id-mr-16 {
  margin-right: 80px; }

.id-mr-17 {
  margin-right: 85px; }

.id-ml-1 {
  margin-left: 5px; }

.id-ml-2 {
  margin-left: 10px; }

.id-ml-3 {
  margin-left: 15px; }

.id-ml-4 {
  margin-left: 20px; }

.id-ml-5 {
  margin-left: 25px; }

.id-ml-6 {
  margin-left: 30px; }

.id-ml-7 {
  margin-left: 35px; }

.id-ml-8 {
  margin-left: 40px; }

.id-ml-9 {
  margin-left: 45px; }

.id-ml-10 {
  margin-left: 50px; }

.id-ml-11 {
  margin-left: 55px; }

.id-ml-12 {
  margin-left: 60px; }

.id-ml-13 {
  margin-left: 65px; }

.id-ml-14 {
  margin-left: 70px; }

.id-ml-15 {
  margin-left: 75px; }

.id-ml-16 {
  margin-left: 80px; }

.id-ml-17 {
  margin-left: 85px; }

.id-mt-sm-1 {
  margin-top: 5px; }

.id-mt-md-1 {
  margin-top: 5px; }

.id-mt-lg-1 {
  margin-top: 5px; }

.id-mt-sm-2 {
  margin-top: 10px; }

.id-mt-md-2 {
  margin-top: 10px; }

.id-mt-lg-2 {
  margin-top: 10px; }

.id-mt-sm-3 {
  margin-top: 15px; }

.id-mt-md-3 {
  margin-top: 15px; }

.id-mt-lg-3 {
  margin-top: 15px; }

.id-mt-sm-4 {
  margin-top: 20px; }

.id-mt-md-4 {
  margin-top: 20px; }

.id-mt-lg-4 {
  margin-top: 20px; }

.id-mt-sm-5 {
  margin-top: 25px; }

.id-mt-md-5 {
  margin-top: 25px; }

.id-mt-lg-5 {
  margin-top: 25px; }

.id-mt-sm-6 {
  margin-top: 30px; }

.id-mt-md-6 {
  margin-top: 30px; }

.id-mt-lg-6 {
  margin-top: 30px; }

.id-mt-sm-7 {
  margin-top: 35px; }

.id-mt-md-7 {
  margin-top: 35px; }

.id-mt-lg-7 {
  margin-top: 35px; }

.id-mt-sm-8 {
  margin-top: 40px; }

.id-mt-md-8 {
  margin-top: 40px; }

.id-mt-lg-8 {
  margin-top: 40px; }

.id-mt-sm-9 {
  margin-top: 45px; }

.id-mt-md-9 {
  margin-top: 45px; }

.id-mt-lg-9 {
  margin-top: 45px; }

.id-mt-sm-10 {
  margin-top: 50px; }

.id-mt-md-10 {
  margin-top: 50px; }

.id-mt-lg-10 {
  margin-top: 50px; }

.id-mt-sm-11 {
  margin-top: 55px; }

.id-mt-md-11 {
  margin-top: 55px; }

.id-mt-lg-11 {
  margin-top: 55px; }

.id-mt-sm-12 {
  margin-top: 60px; }

.id-mt-md-12 {
  margin-top: 60px; }

.id-mt-lg-12 {
  margin-top: 60px; }

.id-mt-sm-13 {
  margin-top: 65px; }

.id-mt-md-13 {
  margin-top: 65px; }

.id-mt-lg-13 {
  margin-top: 65px; }

.id-mt-sm-14 {
  margin-top: 70px; }

.id-mt-md-14 {
  margin-top: 70px; }

.id-mt-lg-14 {
  margin-top: 70px; }

.id-mt-sm-15 {
  margin-top: 75px; }

.id-mt-md-15 {
  margin-top: 75px; }

.id-mt-lg-15 {
  margin-top: 75px; }

.id-mt-sm-16 {
  margin-top: 80px; }

.id-mt-md-16 {
  margin-top: 80px; }

.id-mt-lg-16 {
  margin-top: 80px; }

.id-mt-sm-17 {
  margin-top: 85px; }

.id-mt-md-17 {
  margin-top: 85px; }

.id-mt-lg-17 {
  margin-top: 85px; }

.id-mt-sm-18 {
  margin-top: 90px; }

.id-mt-md-18 {
  margin-top: 90px; }

.id-mt-lg-18 {
  margin-top: 90px; }

.id-mb-sm-1 {
  margin-bottom: 5px; }

.id-mb-md-1 {
  margin-bottom: 5px; }

.id-mb-lg-1 {
  margin-bottom: 5px; }

.id-mb-sm-2 {
  margin-bottom: 10px; }

.id-mb-md-2 {
  margin-bottom: 10px; }

.id-mb-lg-2 {
  margin-bottom: 10px; }

.id-mb-sm-3 {
  margin-bottom: 15px; }

.id-mb-md-3 {
  margin-bottom: 15px; }

.id-mb-lg-3 {
  margin-bottom: 15px; }

.id-mb-sm-4 {
  margin-bottom: 20px; }

.id-mb-md-4 {
  margin-bottom: 20px; }

.id-mb-lg-4 {
  margin-bottom: 20px; }

.id-mb-sm-5 {
  margin-bottom: 25px; }

.id-mb-md-5 {
  margin-bottom: 25px; }

.id-mb-lg-5 {
  margin-bottom: 25px; }

.id-mb-sm-6 {
  margin-bottom: 30px; }

.id-mb-md-6 {
  margin-bottom: 30px; }

.id-mb-lg-6 {
  margin-bottom: 30px; }

.id-mb-sm-7 {
  margin-bottom: 35px; }

.id-mb-md-7 {
  margin-bottom: 35px; }

.id-mb-lg-7 {
  margin-bottom: 35px; }

.id-mb-sm-8 {
  margin-bottom: 40px; }

.id-mb-md-8 {
  margin-bottom: 40px; }

.id-mb-lg-8 {
  margin-bottom: 40px; }

.id-mb-sm-9 {
  margin-bottom: 45px; }

.id-mb-md-9 {
  margin-bottom: 45px; }

.id-mb-lg-9 {
  margin-bottom: 45px; }

.id-mb-sm-10 {
  margin-bottom: 50px; }

.id-mb-md-10 {
  margin-bottom: 50px; }

.id-mb-lg-10 {
  margin-bottom: 50px; }

.id-mb-sm-11 {
  margin-bottom: 55px; }

.id-mb-md-11 {
  margin-bottom: 55px; }

.id-mb-lg-11 {
  margin-bottom: 55px; }

.id-mb-sm-12 {
  margin-bottom: 60px; }

.id-mb-md-12 {
  margin-bottom: 60px; }

.id-mb-lg-12 {
  margin-bottom: 60px; }

.id-mb-sm-13 {
  margin-bottom: 65px; }

.id-mb-md-13 {
  margin-bottom: 65px; }

.id-mb-lg-13 {
  margin-bottom: 65px; }

.id-mb-sm-14 {
  margin-bottom: 70px; }

.id-mb-md-14 {
  margin-bottom: 70px; }

.id-mb-lg-14 {
  margin-bottom: 70px; }

.id-mb-sm-15 {
  margin-bottom: 75px; }

.id-mb-md-15 {
  margin-bottom: 75px; }

.id-mb-lg-15 {
  margin-bottom: 75px; }

.id-mb-sm-16 {
  margin-bottom: 80px; }

.id-mb-md-16 {
  margin-bottom: 80px; }

.id-mb-lg-16 {
  margin-bottom: 80px; }

.id-mb-sm-17 {
  margin-bottom: 85px; }

.id-mb-md-17 {
  margin-bottom: 85px; }

.id-mb-lg-17 {
  margin-bottom: 85px; }

.id-mb-sm-18 {
  margin-bottom: 90px; }

.id-mb-md-18 {
  margin-bottom: 90px; }

.id-mb-lg-18 {
  margin-bottom: 90px; }

.id-mr-sm-1 {
  margin-right: 5px; }

.id-mr-md-1 {
  margin-right: 5px; }

.id-mr-lg-1 {
  margin-right: 5px; }

.id-mr-sm-2 {
  margin-right: 10px; }

.id-mr-md-2 {
  margin-right: 10px; }

.id-mr-lg-2 {
  margin-right: 10px; }

.id-mr-sm-3 {
  margin-right: 15px; }

.id-mr-md-3 {
  margin-right: 15px; }

.id-mr-lg-3 {
  margin-right: 15px; }

.id-mr-sm-4 {
  margin-right: 20px; }

.id-mr-md-4 {
  margin-right: 20px; }

.id-mr-lg-4 {
  margin-right: 20px; }

.id-mr-sm-5 {
  margin-right: 25px; }

.id-mr-md-5 {
  margin-right: 25px; }

.id-mr-lg-5 {
  margin-right: 25px; }

.id-mr-sm-6 {
  margin-right: 30px; }

.id-mr-md-6 {
  margin-right: 30px; }

.id-mr-lg-6 {
  margin-right: 30px; }

.id-mr-sm-7 {
  margin-right: 35px; }

.id-mr-md-7 {
  margin-right: 35px; }

.id-mr-lg-7 {
  margin-right: 35px; }

.id-mr-sm-8 {
  margin-right: 40px; }

.id-mr-md-8 {
  margin-right: 40px; }

.id-mr-lg-8 {
  margin-right: 40px; }

.id-mr-sm-9 {
  margin-right: 45px; }

.id-mr-md-9 {
  margin-right: 45px; }

.id-mr-lg-9 {
  margin-right: 45px; }

.id-mr-sm-10 {
  margin-right: 50px; }

.id-mr-md-10 {
  margin-right: 50px; }

.id-mr-lg-10 {
  margin-right: 50px; }

.id-mr-sm-11 {
  margin-right: 55px; }

.id-mr-md-11 {
  margin-right: 55px; }

.id-mr-lg-11 {
  margin-right: 55px; }

.id-mr-sm-12 {
  margin-right: 60px; }

.id-mr-md-12 {
  margin-right: 60px; }

.id-mr-lg-12 {
  margin-right: 60px; }

.id-mr-sm-13 {
  margin-right: 65px; }

.id-mr-md-13 {
  margin-right: 65px; }

.id-mr-lg-13 {
  margin-right: 65px; }

.id-mr-sm-14 {
  margin-right: 70px; }

.id-mr-md-14 {
  margin-right: 70px; }

.id-mr-lg-14 {
  margin-right: 70px; }

.id-mr-sm-15 {
  margin-right: 75px; }

.id-mr-md-15 {
  margin-right: 75px; }

.id-mr-lg-15 {
  margin-right: 75px; }

.id-mr-sm-16 {
  margin-right: 80px; }

.id-mr-md-16 {
  margin-right: 80px; }

.id-mr-lg-16 {
  margin-right: 80px; }

.id-mr-sm-17 {
  margin-right: 85px; }

.id-mr-md-17 {
  margin-right: 85px; }

.id-mr-lg-17 {
  margin-right: 85px; }

.id-mr-sm-18 {
  margin-right: 90px; }

.id-mr-md-18 {
  margin-right: 90px; }

.id-mr-lg-18 {
  margin-right: 90px; }

.id-ml-sm-1 {
  margin-left: 5px; }

.id-ml-md-1 {
  margin-left: 5px; }

.id-ml-lg-1 {
  margin-left: 5px; }

.id-ml-sm-2 {
  margin-left: 10px; }

.id-ml-md-2 {
  margin-left: 10px; }

.id-ml-lg-2 {
  margin-left: 10px; }

.id-ml-sm-3 {
  margin-left: 15px; }

.id-ml-md-3 {
  margin-left: 15px; }

.id-ml-lg-3 {
  margin-left: 15px; }

.id-ml-sm-4 {
  margin-left: 20px; }

.id-ml-md-4 {
  margin-left: 20px; }

.id-ml-lg-4 {
  margin-left: 20px; }

.id-ml-sm-5 {
  margin-left: 25px; }

.id-ml-md-5 {
  margin-left: 25px; }

.id-ml-lg-5 {
  margin-left: 25px; }

.id-ml-sm-6 {
  margin-left: 30px; }

.id-ml-md-6 {
  margin-left: 30px; }

.id-ml-lg-6 {
  margin-left: 30px; }

.id-ml-sm-7 {
  margin-left: 35px; }

.id-ml-md-7 {
  margin-left: 35px; }

.id-ml-lg-7 {
  margin-left: 35px; }

.id-ml-sm-8 {
  margin-left: 40px; }

.id-ml-md-8 {
  margin-left: 40px; }

.id-ml-lg-8 {
  margin-left: 40px; }

.id-ml-sm-9 {
  margin-left: 45px; }

.id-ml-md-9 {
  margin-left: 45px; }

.id-ml-lg-9 {
  margin-left: 45px; }

.id-ml-sm-10 {
  margin-left: 50px; }

.id-ml-md-10 {
  margin-left: 50px; }

.id-ml-lg-10 {
  margin-left: 50px; }

.id-ml-sm-11 {
  margin-left: 55px; }

.id-ml-md-11 {
  margin-left: 55px; }

.id-ml-lg-11 {
  margin-left: 55px; }

.id-ml-sm-12 {
  margin-left: 60px; }

.id-ml-md-12 {
  margin-left: 60px; }

.id-ml-lg-12 {
  margin-left: 60px; }

.id-ml-sm-13 {
  margin-left: 65px; }

.id-ml-md-13 {
  margin-left: 65px; }

.id-ml-lg-13 {
  margin-left: 65px; }

.id-ml-sm-14 {
  margin-left: 70px; }

.id-ml-md-14 {
  margin-left: 70px; }

.id-ml-lg-14 {
  margin-left: 70px; }

.id-ml-sm-15 {
  margin-left: 75px; }

.id-ml-md-15 {
  margin-left: 75px; }

.id-ml-lg-15 {
  margin-left: 75px; }

.id-ml-sm-16 {
  margin-left: 80px; }

.id-ml-md-16 {
  margin-left: 80px; }

.id-ml-lg-16 {
  margin-left: 80px; }

.id-ml-sm-17 {
  margin-left: 85px; }

.id-ml-md-17 {
  margin-left: 85px; }

.id-ml-lg-17 {
  margin-left: 85px; }

.id-ml-sm-18 {
  margin-left: 90px; }

.id-ml-md-18 {
  margin-left: 90px; }

.id-ml-lg-18 {
  margin-left: 90px; }

/* Padding Classes */
.id-p-auto {
  padding: auto; }

.id-pt-1 {
  padding-top: 5px; }

.id-pt-2 {
  padding-top: 10px; }

.id-pt-3 {
  padding-top: 15px; }

.id-pt-4 {
  padding-top: 20px; }

.id-pt-5 {
  padding-top: 25px; }

.id-pt-6 {
  padding-top: 30px; }

.id-pt-7 {
  padding-top: 35px; }

.id-pt-8 {
  padding-top: 40px; }

.id-pt-9 {
  padding-top: 45px; }

.id-pt-10 {
  padding-top: 50px; }

.id-pt-11 {
  padding-top: 55px; }

.id-pt-12 {
  padding-top: 60px; }

.id-pt-13 {
  padding-top: 65px; }

.id-pt-14 {
  padding-top: 70px; }

.id-pt-15 {
  padding-top: 75px; }

.id-pt-16 {
  padding-top: 80px; }

.id-pt-17 {
  padding-top: 85px; }

.id-pb-1 {
  padding-bottom: 5px; }

.id-pb-2 {
  padding-bottom: 10px; }

.id-pb-3 {
  padding-bottom: 15px; }

.id-pb-4 {
  padding-bottom: 20px; }

.id-pb-5 {
  padding-bottom: 25px; }

.id-pb-6 {
  padding-bottom: 30px; }

.id-pb-7 {
  padding-bottom: 35px; }

.id-pb-8 {
  padding-bottom: 40px; }

.id-pb-9 {
  padding-bottom: 45px; }

.id-pb-10 {
  padding-bottom: 50px; }

.id-pb-11 {
  padding-bottom: 55px; }

.id-pb-12 {
  padding-bottom: 60px; }

.id-pb-13 {
  padding-bottom: 65px; }

.id-pb-14 {
  padding-bottom: 70px; }

.id-pb-15 {
  padding-bottom: 75px; }

.id-pb-16 {
  padding-bottom: 80px; }

.id-pb-17 {
  padding-bottom: 85px; }

.id-pr-1 {
  padding-right: 5px; }

.id-pr-2 {
  padding-right: 10px; }

.id-pr-3 {
  padding-right: 15px; }

.id-pr-4 {
  padding-right: 20px; }

.id-pr-5 {
  padding-right: 25px; }

.id-pr-6 {
  padding-right: 30px; }

.id-pr-7 {
  padding-right: 35px; }

.id-pr-8 {
  padding-right: 40px; }

.id-pr-9 {
  padding-right: 45px; }

.id-pr-10 {
  padding-right: 50px; }

.id-pr-11 {
  padding-right: 55px; }

.id-pr-12 {
  padding-right: 60px; }

.id-pr-13 {
  padding-right: 65px; }

.id-pr-14 {
  padding-right: 70px; }

.id-pr-15 {
  padding-right: 75px; }

.id-pr-16 {
  padding-right: 80px; }

.id-pr-17 {
  padding-right: 85px; }

.id-pl-1 {
  padding-left: 5px; }

.id-pl-2 {
  padding-left: 10px; }

.id-pl-3 {
  padding-left: 15px; }

.id-pl-4 {
  padding-left: 20px; }

.id-pl-5 {
  padding-left: 25px; }

.id-pl-6 {
  padding-left: 30px; }

.id-pl-7 {
  padding-left: 35px; }

.id-pl-8 {
  padding-left: 40px; }

.id-pl-9 {
  padding-left: 45px; }

.id-pl-10 {
  padding-left: 50px; }

.id-pl-11 {
  padding-left: 55px; }

.id-pl-12 {
  padding-left: 60px; }

.id-pl-13 {
  padding-left: 65px; }

.id-pl-14 {
  padding-left: 70px; }

.id-pl-15 {
  padding-left: 75px; }

.id-pl-16 {
  padding-left: 80px; }

.id-pl-17 {
  padding-left: 85px; }

.id-pt-sm-1 {
  padding-top: 5px; }

.id-pt-md-1 {
  padding-top: 5px; }

.id-pt-lg-1 {
  padding-top: 5px; }

.id-pt-sm-2 {
  padding-top: 10px; }

.id-pt-md-2 {
  padding-top: 10px; }

.id-pt-lg-2 {
  padding-top: 10px; }

.id-pt-sm-3 {
  padding-top: 15px; }

.id-pt-md-3 {
  padding-top: 15px; }

.id-pt-lg-3 {
  padding-top: 15px; }

.id-pt-sm-4 {
  padding-top: 20px; }

.id-pt-md-4 {
  padding-top: 20px; }

.id-pt-lg-4 {
  padding-top: 20px; }

.id-pt-sm-5 {
  padding-top: 25px; }

.id-pt-md-5 {
  padding-top: 25px; }

.id-pt-lg-5 {
  padding-top: 25px; }

.id-pt-sm-6 {
  padding-top: 30px; }

.id-pt-md-6 {
  padding-top: 30px; }

.id-pt-lg-6 {
  padding-top: 30px; }

.id-pt-sm-7 {
  padding-top: 35px; }

.id-pt-md-7 {
  padding-top: 35px; }

.id-pt-lg-7 {
  padding-top: 35px; }

.id-pt-sm-8 {
  padding-top: 40px; }

.id-pt-md-8 {
  padding-top: 40px; }

.id-pt-lg-8 {
  padding-top: 40px; }

.id-pt-sm-9 {
  padding-top: 45px; }

.id-pt-md-9 {
  padding-top: 45px; }

.id-pt-lg-9 {
  padding-top: 45px; }

.id-pt-sm-10 {
  padding-top: 50px; }

.id-pt-md-10 {
  padding-top: 50px; }

.id-pt-lg-10 {
  padding-top: 50px; }

.id-pt-sm-11 {
  padding-top: 55px; }

.id-pt-md-11 {
  padding-top: 55px; }

.id-pt-lg-11 {
  padding-top: 55px; }

.id-pt-sm-12 {
  padding-top: 60px; }

.id-pt-md-12 {
  padding-top: 60px; }

.id-pt-lg-12 {
  padding-top: 60px; }

.id-pt-sm-13 {
  padding-top: 65px; }

.id-pt-md-13 {
  padding-top: 65px; }

.id-pt-lg-13 {
  padding-top: 65px; }

.id-pt-sm-14 {
  padding-top: 70px; }

.id-pt-md-14 {
  padding-top: 70px; }

.id-pt-lg-14 {
  padding-top: 70px; }

.id-pt-sm-15 {
  padding-top: 75px; }

.id-pt-md-15 {
  padding-top: 75px; }

.id-pt-lg-15 {
  padding-top: 75px; }

.id-pt-sm-16 {
  padding-top: 80px; }

.id-pt-md-16 {
  padding-top: 80px; }

.id-pt-lg-16 {
  padding-top: 80px; }

.id-pt-sm-17 {
  padding-top: 85px; }

.id-pt-md-17 {
  padding-top: 85px; }

.id-pt-lg-17 {
  padding-top: 85px; }

.id-pb-sm-1 {
  padding-bottom: 5px; }

.id-pb-md-1 {
  padding-bottom: 5px; }

.id-pb-lg-1 {
  padding-bottom: 5px; }

.id-pb-sm-2 {
  padding-bottom: 10px; }

.id-pb-md-2 {
  padding-bottom: 10px; }

.id-pb-lg-2 {
  padding-bottom: 10px; }

.id-pb-sm-3 {
  padding-bottom: 15px; }

.id-pb-md-3 {
  padding-bottom: 15px; }

.id-pb-lg-3 {
  padding-bottom: 15px; }

.id-pb-sm-4 {
  padding-bottom: 20px; }

.id-pb-md-4 {
  padding-bottom: 20px; }

.id-pb-lg-4 {
  padding-bottom: 20px; }

.id-pb-sm-5 {
  padding-bottom: 25px; }

.id-pb-md-5 {
  padding-bottom: 25px; }

.id-pb-lg-5 {
  padding-bottom: 25px; }

.id-pb-sm-6 {
  padding-bottom: 30px; }

.id-pb-md-6 {
  padding-bottom: 30px; }

.id-pb-lg-6 {
  padding-bottom: 30px; }

.id-pb-sm-7 {
  padding-bottom: 35px; }

.id-pb-md-7 {
  padding-bottom: 35px; }

.id-pb-lg-7 {
  padding-bottom: 35px; }

.id-pb-sm-8 {
  padding-bottom: 40px; }

.id-pb-md-8 {
  padding-bottom: 40px; }

.id-pb-lg-8 {
  padding-bottom: 40px; }

.id-pb-sm-9 {
  padding-bottom: 45px; }

.id-pb-md-9 {
  padding-bottom: 45px; }

.id-pb-lg-9 {
  padding-bottom: 45px; }

.id-pb-sm-10 {
  padding-bottom: 50px; }

.id-pb-md-10 {
  padding-bottom: 50px; }

.id-pb-lg-10 {
  padding-bottom: 50px; }

.id-pb-sm-11 {
  padding-bottom: 55px; }

.id-pb-md-11 {
  padding-bottom: 55px; }

.id-pb-lg-11 {
  padding-bottom: 55px; }

.id-pb-sm-12 {
  padding-bottom: 60px; }

.id-pb-md-12 {
  padding-bottom: 60px; }

.id-pb-lg-12 {
  padding-bottom: 60px; }

.id-pb-sm-13 {
  padding-bottom: 65px; }

.id-pb-md-13 {
  padding-bottom: 65px; }

.id-pb-lg-13 {
  padding-bottom: 65px; }

.id-pb-sm-14 {
  padding-bottom: 70px; }

.id-pb-md-14 {
  padding-bottom: 70px; }

.id-pb-lg-14 {
  padding-bottom: 70px; }

.id-pb-sm-15 {
  padding-bottom: 75px; }

.id-pb-md-15 {
  padding-bottom: 75px; }

.id-pb-lg-15 {
  padding-bottom: 75px; }

.id-pb-sm-16 {
  padding-bottom: 80px; }

.id-pb-md-16 {
  padding-bottom: 80px; }

.id-pb-lg-16 {
  padding-bottom: 80px; }

.id-pb-sm-17 {
  padding-bottom: 85px; }

.id-pb-md-17 {
  padding-bottom: 85px; }

.id-pb-lg-17 {
  padding-bottom: 85px; }

.id-pr-sm-1 {
  padding-right: 5px; }

.id-pr-md-1 {
  padding-right: 5px; }

.id-pr-lg-1 {
  padding-right: 5px; }

.id-pr-sm-2 {
  padding-right: 10px; }

.id-pr-md-2 {
  padding-right: 10px; }

.id-pr-lg-2 {
  padding-right: 10px; }

.id-pr-sm-3 {
  padding-right: 15px; }

.id-pr-md-3 {
  padding-right: 15px; }

.id-pr-lg-3 {
  padding-right: 15px; }

.id-pr-sm-4 {
  padding-right: 20px; }

.id-pr-md-4 {
  padding-right: 20px; }

.id-pr-lg-4 {
  padding-right: 20px; }

.id-pr-sm-5 {
  padding-right: 25px; }

.id-pr-md-5 {
  padding-right: 25px; }

.id-pr-lg-5 {
  padding-right: 25px; }

.id-pr-sm-6 {
  padding-right: 30px; }

.id-pr-md-6 {
  padding-right: 30px; }

.id-pr-lg-6 {
  padding-right: 30px; }

.id-pr-sm-7 {
  padding-right: 35px; }

.id-pr-md-7 {
  padding-right: 35px; }

.id-pr-lg-7 {
  padding-right: 35px; }

.id-pr-sm-8 {
  padding-right: 40px; }

.id-pr-md-8 {
  padding-right: 40px; }

.id-pr-lg-8 {
  padding-right: 40px; }

.id-pr-sm-9 {
  padding-right: 45px; }

.id-pr-md-9 {
  padding-right: 45px; }

.id-pr-lg-9 {
  padding-right: 45px; }

.id-pr-sm-10 {
  padding-right: 50px; }

.id-pr-md-10 {
  padding-right: 50px; }

.id-pr-lg-10 {
  padding-right: 50px; }

.id-pr-sm-11 {
  padding-right: 55px; }

.id-pr-md-11 {
  padding-right: 55px; }

.id-pr-lg-11 {
  padding-right: 55px; }

.id-pr-sm-12 {
  padding-right: 60px; }

.id-pr-md-12 {
  padding-right: 60px; }

.id-pr-lg-12 {
  padding-right: 60px; }

.id-pr-sm-13 {
  padding-right: 65px; }

.id-pr-md-13 {
  padding-right: 65px; }

.id-pr-lg-13 {
  padding-right: 65px; }

.id-pr-sm-14 {
  padding-right: 70px; }

.id-pr-md-14 {
  padding-right: 70px; }

.id-pr-lg-14 {
  padding-right: 70px; }

.id-pr-sm-15 {
  padding-right: 75px; }

.id-pr-md-15 {
  padding-right: 75px; }

.id-pr-lg-15 {
  padding-right: 75px; }

.id-pr-sm-16 {
  padding-right: 80px; }

.id-pr-md-16 {
  padding-right: 80px; }

.id-pr-lg-16 {
  padding-right: 80px; }

.id-pr-sm-17 {
  padding-right: 85px; }

.id-pr-md-17 {
  padding-right: 85px; }

.id-pr-lg-17 {
  padding-right: 85px; }

.id-pl-sm-1 {
  padding-left: 5px; }

.id-pl-md-1 {
  padding-left: 5px; }

.id-pl-lg-1 {
  padding-left: 5px; }

.id-pl-sm-2 {
  padding-left: 10px; }

.id-pl-md-2 {
  padding-left: 10px; }

.id-pl-lg-2 {
  padding-left: 10px; }

.id-pl-sm-3 {
  padding-left: 15px; }

.id-pl-md-3 {
  padding-left: 15px; }

.id-pl-lg-3 {
  padding-left: 15px; }

.id-pl-sm-4 {
  padding-left: 20px; }

.id-pl-md-4 {
  padding-left: 20px; }

.id-pl-lg-4 {
  padding-left: 20px; }

.id-pl-sm-5 {
  padding-left: 25px; }

.id-pl-md-5 {
  padding-left: 25px; }

.id-pl-lg-5 {
  padding-left: 25px; }

.id-pl-sm-6 {
  padding-left: 30px; }

.id-pl-md-6 {
  padding-left: 30px; }

.id-pl-lg-6 {
  padding-left: 30px; }

.id-pl-sm-7 {
  padding-left: 35px; }

.id-pl-md-7 {
  padding-left: 35px; }

.id-pl-lg-7 {
  padding-left: 35px; }

.id-pl-sm-8 {
  padding-left: 40px; }

.id-pl-md-8 {
  padding-left: 40px; }

.id-pl-lg-8 {
  padding-left: 40px; }

.id-pl-sm-9 {
  padding-left: 45px; }

.id-pl-md-9 {
  padding-left: 45px; }

.id-pl-lg-9 {
  padding-left: 45px; }

.id-pl-sm-10 {
  padding-left: 50px; }

.id-pl-md-10 {
  padding-left: 50px; }

.id-pl-lg-10 {
  padding-left: 50px; }

.id-pl-sm-11 {
  padding-left: 55px; }

.id-pl-md-11 {
  padding-left: 55px; }

.id-pl-lg-11 {
  padding-left: 55px; }

.id-pl-sm-12 {
  padding-left: 60px; }

.id-pl-md-12 {
  padding-left: 60px; }

.id-pl-lg-12 {
  padding-left: 60px; }

.id-pl-sm-13 {
  padding-left: 65px; }

.id-pl-md-13 {
  padding-left: 65px; }

.id-pl-lg-13 {
  padding-left: 65px; }

.id-pl-sm-14 {
  padding-left: 70px; }

.id-pl-md-14 {
  padding-left: 70px; }

.id-pl-lg-14 {
  padding-left: 70px; }

.id-pl-sm-15 {
  padding-left: 75px; }

.id-pl-md-15 {
  padding-left: 75px; }

.id-pl-lg-15 {
  padding-left: 75px; }

.id-pl-sm-16 {
  padding-left: 80px; }

.id-pl-md-16 {
  padding-left: 80px; }

.id-pl-lg-16 {
  padding-left: 80px; }

.id-pl-sm-17 {
  padding-left: 85px; }

.id-pl-md-17 {
  padding-left: 85px; }

.id-pl-lg-17 {
  padding-left: 85px; }

/* Border Classes */
.id-border-1 {
  border: 1px solid #000; }

.id-border-2 {
  border: 2px solid #000; }

.id-border-3 {
  border: 3px solid #000; }

.id-border-top-1 {
  border-top: 1px solid #000; }

.id-border-top-2 {
  border-top: 2px solid #000; }

.id-border-top-3 {
  border-top: 3px solid #000; }

.id-border-bottom-1 {
  border-bottom: 1px solid #000; }

.id-border-bottom-2 {
  border-bottom: 2px solid #000; }

.id-border-bottom-3 {
  border-bottom: 3px solid #000; }

.id-border-right-1 {
  border-right: 1px solid #000; }

.id-border-right-2 {
  border-right: 2px solid #000; }

.id-border-right-3 {
  border-right: 3px solid #000; }

.id-border-left-1 {
  border-left: 1px solid #000; }

.id-border-left-2 {
  border-left: 2px solid #000; }

.id-border-left-3 {
  border-left: 3px solid #000; }

.id-border-sm-1 {
  border: 1px solid #000; }

.id-border-md-1 {
  border: 1px solid #000; }

.id-border-lg-1 {
  border: 1px solid #000; }

.id-border-sm-2 {
  border: 2px solid #000; }

.id-border-md-2 {
  border: 2px solid #000; }

.id-border-lg-2 {
  border: 2px solid #000; }

.id-border-sm-3 {
  border: 3px solid #000; }

.id-border-md-3 {
  border: 3px solid #000; }

.id-border-lg-3 {
  border: 3px solid #000; }

.id-border-top-sm-1 {
  border-top: 1px solid #000; }

.id-border-top-md-1 {
  border-top: 1px solid #000; }

.id-border-top-lg-1 {
  border-top: 1px solid #000; }

.id-border-top-sm-2 {
  border-top: 2px solid #000; }

.id-border-top-md-2 {
  border-top: 2px solid #000; }

.id-border-top-lg-2 {
  border-top: 2px solid #000; }

.id-border-top-sm-3 {
  border-top: 3px solid #000; }

.id-border-top-md-3 {
  border-top: 3px solid #000; }

.id-border-top-lg-3 {
  border-top: 3px solid #000; }

.id-border-bottom-sm-1 {
  border-bottom: 1px solid #000; }

.id-border-bottom-md-1 {
  border-bottom: 1px solid #000; }

.id-border-bottom-lg-1 {
  border-bottom: 1px solid #000; }

.id-border-bottom-sm-2 {
  border-bottom: 2px solid #000; }

.id-border-bottom-md-2 {
  border-bottom: 2px solid #000; }

.id-border-bottom-lg-2 {
  border-bottom: 2px solid #000; }

.id-border-bottom-sm-3 {
  border-bottom: 3px solid #000; }

.id-border-bottom-md-3 {
  border-bottom: 3px solid #000; }

.id-border-bottom-lg-3 {
  border-bottom: 3px solid #000; }

.id-border-right-sm-1 {
  border-right: 1px solid #000; }

.id-border-right-md-1 {
  border-right: 1px solid #000; }

.id-border-right-lg-1 {
  border-right: 1px solid #000; }

.id-border-right-sm-2 {
  border-right: 2px solid #000; }

.id-border-right-md-2 {
  border-right: 2px solid #000; }

.id-border-right-lg-2 {
  border-right: 2px solid #000; }

.id-border-right-sm-3 {
  border-right: 3px solid #000; }

.id-border-right-md-3 {
  border-right: 3px solid #000; }

.id-border-right-lg-3 {
  border-right: 3px solid #000; }

.id-border-left-sm-1 {
  border-left: 1px solid #000; }

.id-border-left-md-1 {
  border-left: 1px solid #000; }

.id-border-left-lg-1 {
  border-left: 1px solid #000; }

.id-border-left-sm-2 {
  border-left: 2px solid #000; }

.id-border-left-md-2 {
  border-left: 2px solid #000; }

.id-border-left-lg-2 {
  border-left: 2px solid #000; }

.id-border-left-sm-3 {
  border-left: 3px solid #000; }

.id-border-left-md-3 {
  border-left: 3px solid #000; }

.id-border-left-lg-3 {
  border-left: 3px solid #000; }

/*# sourceMappingURL=style.css.map */
