.interior-showcase {
  .interior-heading {
    font-size: 64px;
    font-weight: 400;
  }

  .interior-showcase-photogrid {
    .row {
      gap: 15px;

      .photogrid-left,
      .photogrid-right {
        flex-basis: 49%;
      }

      a {
        &:nth-child(1) {
          img {
            aspect-ratio: 1/0.85;
          }
        }
      }
    }

    img {
      max-width: 100%;
      aspect-ratio: 1/0.6;
      opacity: 0.8;
      margin-bottom: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
