.int-showcase {
    margin-bottom: 100px;
  
    .int-showcase-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 20px;
      row-gap: 10px;
  
      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }