.interior-packages {
  p {
    margin: 16px 0;
  }

  .row,
  .f-row {
    .package-list {
      margin-top: 10px;
    }
  }

  .packages-list {
    ul {
      list-style-type: none;
      text-align: center;
      width: 100%;

      li {
        &:first-child {
          font-size: 24px;
          color: #fff;
          background-color: #616161;
          padding: 40px 0;

          &.pro {
            background-color: $color__primary;
          }
        }

        padding: 20px 0;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ddd;

        h3 {
          font-size: 30px;
          font-weight: normal;
          margin: 10px 0;
        }

        span {
          color: #818181;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
