.#{$prefix}packages {
  p {
    margin-top: 16px;
  }

  .package-list {
    margin-top: 10px;
    padding: 0 10px;
  }

  .packages-list {
    margin-top: 16px;

    ul {
      text-align: center;
      width: 100%;

      li {
        padding: 20px 0;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ddd;
        &:first-child {
          color: #fff;
          background-color: #616161;
          padding: 40px 0;

          &.pro {
            background-color: $color__primary;
          }
        }
        h3 {
          font-size: 30px;
          font-weight: normal;
          margin: 10px 0;
        }

        span {
          color: #818181;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
