.interior-showcase {
  .interior-heading {
    font-size: 64px;
    font-weight: 400;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  .interior-showcase-photogrid {
    .row,
    .f-row {
      .photo {
        margin-top: 10px;
      }
    }

    .photo {
      &:nth-child(1),
      &:nth-child(2) {
        img {
          aspect-ratio: 1/0.85;
        }
      }

      a {
        display: block;
        overflow: hidden;
      }
    }

    img {
      max-width: 100%;
      aspect-ratio: 1/0.6;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
