/* Interior Sidebar */
.#{$prefix}sidebar {
  position: fixed;
  font-weight: 500;
  color: #fff;
  background-color: $color__primary;
  top: 0;
  width: 300px;
  height: 100%;
  overflow: auto;
  z-index: 6;

  .container {
    padding: 8px 16px;
    margin: 0;
  }

  .#{$prefix}sidebar-close {
    display: none;
    justify-content: center;

    span {
      font-size: 22px;
      padding: 8px 16px;
    }
  }

  .#{$prefix}sidebar-header {
    font-size: 24px;
    max-width: 30px;
    margin: 100px 10px 80px 10px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 18px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        padding: 10px;
      }

      &:hover {
        cursor: pointer;
        color: #000;
        background: #fff;
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
