@media screen and (max-width: $break_point_tablet) {
  .container {
    margin: 75px 0 !important;
    padding: 0 16px;
  }

  .interior-mob-navbar {
    .container {
      margin: 0 !important;
    }

    display: block;
  }

  .interior-sidebar {
    display: none;

    .container {
      margin: 0 !important;
    }

    &.open {
      display: block;
    }

    .interior-sidebar-close {
      display: flex;
    }
  }

  .interior-mob-sidebar {
    display: none;

    .container {
      margin: 0 !important;
    }

    &.open {
      display: block;
    }

    .interior-sidebar-close {
      display: flex;
    }
  }

  .overlay {
    &.open {
      display: block;
    }
  }

  .interior-main {
    margin: 0;
  }
}

@media screen and (max-width: $break_point_mobile) {
  .interior-showcase-photogrid {
    .row {
      .photo {
        flex-basis: 100% !important;

        &:nth-child(2) {
          order: 4;
        }

        &:nth-child(4) {
          order: 5;
        }

        &:nth-child(6) {
          order: 6;
        }
      }
    }
  }

  .interior-designers {
    .interior-designers-list {
      .interior-designer-card {
        flex-basis: 100%;
      }
    }
  }

  .interior-packages {
    .packages-list {
      flex-direction: column;
    }
  }
}
