@media screen and (max-width: 992px) {
  .interior-navbar {
    display: block;
  }

  .interior-sidebar {
    display: none;

    &.open {
      display: block;
    }

    .interior-sidebar-close {
      display: flex;
    }
  }

  .overlay {
    &.open {
      display: block;
    }
  }

  .interior-main {
    margin-left: 0;

    .row {
      margin: 80px 0;
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .interior-showcase {
    .interior-showcase-photogrid {
      grid-template-columns: 1fr;
    }
  }

  .interior-designers {
    .interior-designers-list {
      flex-direction: column;
    }
  }
}
