$max: 10;
$i: 0;
$class: "id-b-";
$style: "border";
$unit: "px";

@mixin border($class, $style) {
  @while $i <= $max {
    #{$class + $i} {
      #{$style}: #{$i + $unit};
    }
    $i: $i + 1;
  }
}

@include border("id-b-", "border");
@include border("id-b-t-", "border-top");
@include border("id-b-b-", "border-bottom");
@include border("id-b-l-", "border-left");
@include border("id-b-r-", "border-right");
