@include keyframes("fade-text") {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@include keyframes("slide-down") {
  0% {
    @include transform("translateY(0)");
  }
  100% {
    @include transform("translateY(100%)");
  }
}

@include keyframes("grow-shrink") {
  0%,
  100% {
    @include transform("scale(1)");
  }
  50% {
    @include transform("scale(1.5)");
  }
}
