.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 12px 24px;
  border: unset;

  &.btn-bg-primary {
    color: #fff;
    background-color: $color__primary;
  }

  &.btn-fluid {
    width: 100%;

    @include btnHover(inset, #000, $x: 2000px);
  }

  @include btnHover(inset, #000, $x: 400px);
}
