.#{$prefix}section-title {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  color: $color__primary;
  padding-bottom: 30px;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $color__primary;
    border-radius: 4px;
    height: 10px;
    width: 60px;
    bottom: 0;
  }
}
